@charset "utf-8";

        
.navbar{
    margin: 20px auto;
    max-width: 1280px;
    min-width: 980px;
    border-radius: 5px;
}
.nav-button{
    margin: 0;
    list-style: none;
}
.nav-button>li{
    float: left;
    margin-right: 15px;
}
.form-inline>select{
    margin-right: 8px;
}

.card-deck{
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: 1280px;
    min-width: 980px;
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;      
}
.card{
	max-width: 30%;
    min-width: 300px;
    max-height: 500px;
    margin: 30px;
    box-shadow: 5px 5px 5px rgb(214, 214, 214);
}
.card:hover{
    cursor: pointer;
}
.card-title{
  	font-weight: bold;
}

.card-img-top{
	width: 100%;
	height: 240px;
}

.card-footer{
	height: 63px;
	display: table;
}
.text-primary{
	display: table-cell;
	vertical-align: middle;	
}



@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}




.pageTitle {
	position: fixed; left: 0; top: 0; width: 100%; height: 52px; line-height: 52px; color: #fff; text-align: center; background: #111;
}
article {
	padding: 52px 3% 0;
}
article .block {
	padding: 20px; min-height: 500px;
}
article .block p {
	line-height: 22px; color: #fff; font-size: 16px; font-weight: 600;
}
article .block:nth-child(2n+1) {background: #999;}
article .block:nth-child(2n) {background: #222;}